*{
    margin: 0;
    padding: 0;
    font-family: knight;
}

html, body{
    height: 100%;

}

@font-face {
    font-family: knight;
    src: url('KnightWarrior-w16n8.otf');
}

body{
    background-image: url(main-background.webp);

    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    align-items: center;
}
#header img{
    height: 75px;
    width: 75px;

}
#header #main-page-link{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: inherit;
    color: white;
    background-color: black;
    box-shadow: 3px 1px red;
    padding: 20px;
    margin-bottom: 10px;
}

#container{
    border-radius: 10px;
    background-color: #61595B;
    box-shadow: 8px 5px black;
    border: 1px solid black;

    padding: 30px;
    width: 70vw;
    height: 80vh;

    overflow: auto;
}
h1{
    font-size: 5em;
    text-shadow: 1px 1px red;
    margin-right: 10px;
}
h3{
    font-size: 2.5em;
}

h5{
    font-size: 28px;
}

p{
    font-size: 1.5em;
}

::-webkit-scrollbar{
    width: 8px;

}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 0px 10px;
}
